<p id="notice"><%= notice %></p>

<p>
  <strong>Author name:</strong>
  <%= @author.author_name %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @author.phone_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @author.address %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
